/* Webfont: Nohemi-Light */@font-face {
    font-family: 'NohemiLight';
    src: url('Nohemi-Light.woff2') format('woff2'), /* Modern Browsers */
         url('Nohemi-Light.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

