/* Webfont: Nohemi-SemiBold */@font-face {
    font-family: 'NohemiSemBd';
    src: url('Nohemi-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('Nohemi-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

