/* Webfont: Nohemi-Thin */@font-face {
    font-family: 'NohemiThin';
    src: url('Nohemi-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('Nohemi-Thin.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

