/* Webfont: Nohemi-Black */@font-face {
    font-family: 'NohemiBlack';
    src: url('Nohemi-Black.woff2') format('woff2'), /* Modern Browsers */
         url('Nohemi-Black.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.nohemi-black {
    font-family: 'NohemiBlack', sans-serif;
  }