@import url('Fonts/Nohemi-Thin.css');
@import url('Fonts/Nohemi-Medium.css');

*{
  font-family: 'NohemiThin', sans-serif;
}

.motivational-container {
  margin-top: 1000px;
  padding: 10px;
  font-family: 'NohemiThin', sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
  color: #023abd;
}



.emojicontainer-container{
  font-size: 3000px;
}

.motivational-text {
  font-family: 'NohemiThin', sans-serif;
  flex: 1;
  padding: 10px;
  z-index: 1;
  color: white;
  position: relative;
}

.about {
  margin-top: 1000px;
  max-width: 850px;
  margin: 200px auto 150px; /* Adjusted margin to move it down */
  padding-bottom: 50px;
  background-color: var(--body_background);
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(40, 4, 4, 0.1);
  font-family: 'NohemiThin', sans-serif;
  text-align: center;
  color: var(--text_color);
  font-size: 30px;
  line-height: 2;
}

.header {
  margin-bottom: 20px;
}
h1{
line-height: 0;
margin-bottom: 0;
margin-top: 20px;
}
 p {
  font-family: 'NohemiMedium', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-style: italic;
  margin-top: 10px;
}
