@import url('Fonts/Nohemi-Thin.css');

.motivational-container {
  font-family: 'NohemiThin', sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
  color: #023abd;
}

.motivational-text {
  font-family: 'NohemiThin', sans-serif;
  flex: 1;
  padding: 50px;
  z-index: 2;
  color: white;
  position: relative;
}

.about {
  max-width: 850px;
  margin: 0 auto 150px; /* Updated margin to move it up */
  padding-bottom: 80px;
  background-color: var(--body_background);
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(40, 4, 4, 0.1);
  font-family: 'NohemiThin', sans-serif;
  text-align: center;
  color: var(--text_color);
  font-size: 20px;
  line-height: 2;
}

.header {
  margin-bottom: -50px;
}

h1 {
  font-family: 'NohemiThin', sans-serif;
  font-size: 5em;
}
p {
  font-family: 'NohemiThin', sans-serif;

}

