@import url('Fonts/Nohemi-Thin.css');
@import url('Fonts/Nohemi-Medium.css');

/* Set font for all elements */
*{
  font-family: 'NohemiThin', sans-serif;
}

/* Define the styles for the motivational-container class */
.motivational-container {
  margin-top: 1000px;
  padding: 10px;
  font-family: 'NohemiThin', sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
  color: #023abd;
}

/* Text styling */
.motivational-text {
  font-family: 'NohemiThin', sans-serif;
  flex: 1;
  padding: 10px;
  z-index: 1;
  color: white;
  position: relative;
}

/* Container for about section */
.about {
  margin-top: 1000px;
  max-width: 850px;
  margin: 200px auto 150px; /* Adjusted margin to move it down */
  padding-bottom: 50px;
  background-color: var(--body_background);
  font-family: 'NohemiThin', sans-serif;
  text-align: center;
  color: var(--text_color);
  font-size: 30px;
  line-height: 2;
}

/* Margin bottom for header */
.header {
  margin-bottom: 20px;
}
/* h1 styling */
h1{
line-height: 0;
margin-bottom: 0;
margin-top: 20px;
}
/* Font family: NohemiMedium, sans-serif */

 p {
  font-family: 'NohemiMedium', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-style: italic;
  margin-top: 10px;
}
