 @import url("Fonts/Nohemi-Thin.css"); 

body {
  margin-top: 100px;
}



<<<<<<< HEAD

=======
.triangle {
  font-family: "NohemiThin", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 100px solid turquoise; 
  z-index: 1;
}

.about {
  max-width: 700px;
  margin: 0 auto 10px; 
  padding: 80px;
  background-color: var(--body_background);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: "NohemiThin", sans-serif;
  text-align: center;
  color: var(--text_color);
  font-size: 20px;
  line-height: 1.5;
}
>>>>>>> main



<<<<<<< HEAD





=======
p {
  font-family: "NohemiThin", sans-serif;
  margin-bottom: 15px;
}
.auth-container {
  position: center; /* Ensure relative positioning for absolute positioning */
} 

.welcome-text{
  display: flex;
  flex-direction: column;
  justify-content: relative;
  align-items: center;
  transform: translate(0%, 65px); 
  color: white;
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}
.white-box {
  width: 339px; /* Example width */
  height: 350px;
  background-color: #ffffff; /* White background color */
  border: 1px solid #ccc; /* Example border */
  position: absolute; /* Position the white box absolutely */
  top: 50%; /* Adjust as needed to center vertically */
  left: 50%; /* Adjust as needed to center horizontally */
  transform: translate(-50%, -50%); /* Center the box horizontally and vertically */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Grey shadow */
  background-image: url('/Users/gabrielsanchez/NoBS/frontend/public/pexels-leon-ardho-1552242.jpg'); /* Specify the path to your image */
  background-size: cover; /* Cover the entire box with the background image */
  background-position: center; /* Center the background image */
  border-radius: 20px;
}

.sign-in-button-container {
  position: absolute; /* Position the button absolutely */
  top: 50%; /* Adjust as needed to center vertically */
  left: 50%; /* Adjust as needed to center horizontally */
  transform: translate(-50%, -50%); /* Center the button horizontally and vertically */
}
>>>>>>> main
