

.welcome-container {
  /* Use flexbox layout */
  font-size: 20px;
  padding: 60px;
}
.container {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Center-aligns items horizontally */
}
.Videorunner {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 5%;
  overflow: hidden;
  margin-left: 20px; /* Adjust as needed */
  margin-bottom: 20px;
}
.text {
  font-size: 15px;
  padding-bottom: 20px;
}

.taskList {
  margin-left: 15px;
}

.input-container {
  flex-direction: column;
  align-items: center;
  display: flex; /* Use flexbox layout */
  margin-left: 20px; /* Add space between input and buttons */
}

.input-container input {
  display: flex;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  width: 400px;
}
.button-container {
  display: fixed;
  flex-direction: column;
  align-items: center;
}
.button-container .create-group-button:hover {
  background-color: rgb(73, 71, 71);
}

.button-container .join-group-button:hover {
  background-color: rgb(255, 255, 255);
}
.create-group-button {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  width: 205px;
  padding: 10px 0px;
  background-color: rgb(103, 101, 101);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.join-group-button {
  margin-top: 0px;
  width: 205px;
  padding: 10px 0px;
  font-size: 16px;
  background-color: #f7f4f4d4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
