body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--body_background);
}

.home {
  max-width: 800px;
  margin: 110px auto 20px;
  padding: 20px;
  background-color: var(--body_background);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  color: var(--text_color);
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.section-title {
  color: var(--text_color);
  border-bottom: 2px solid var(--border_color);
  padding-bottom: 10px;
  margin-bottom: 20px;
  animation: slideIn 1s ease;
}

.task {
  margin-bottom: 8px;
}

.task input[type="checkbox"] {
  margin-right: 8px;
}

button {
  background-color: var(--button_color);
  color: var(--text_color);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

 button:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Lighter background color with reduced opacity */
 } 
/*To be put in place later - Gabe
 For light mode 
 .light-mode button:hover { 
   background-color: rgba(255, 255, 255, 0.5); Lighter background color with reduced opacity 
 } */
/*To be used later - Gabe
 For dark mode 
 .dark-mode button:hover {
  background-color: rgba(0, 0, 0, 0.5); Lighter background color with reduced opacity
} */
.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.activity-info {
  flex: 1;
}

.activity-actions {
  display: flex;
  align-items: center;
}

.activity-progress {
  margin-right: 8px;
}

.daily-tasks {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.task-container {
  display: flex;
}

.task {
  margin-right: 10px;
}

.post-button {
  align-self: flex-end;
}

.plan {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea {
  height: 150px;
  resize: none;
  background-color: var(--text_area_color);
}

.edit-button {
  align-self: flex-end;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body[data-theme="light"] {
  color: #000; /* Light mode text color */
}

body[data-theme="dark"] {
  color: #fff; /* Dark mode text color */
}