/* Navbar.css */

.navbar {
  background-color: #000000;
  color: white;
  padding: 10px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.left-section img {
  width: 150px;
  margin-left: -120px;
  transition: filter 10s ease; /* Smooth transition effect */

  /* Set initial brightness */
  filter: brightness(1);
}

.left-section img:hover {
  filter: brightness(0.5);
}

.title {
  margin-left: 80px;
}

.right-section {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 25px;
  font-size: 20px;
}

.nav-links li {
  margin-right: 25px; /* Increase the margin between each list item */
}

.nav-links li:last-child {
  margin-right: -10px; /* Remove margin from the last list item */
}

.logbtn {
  font-size: 20px;
  margin-top: -5px;
}

.title {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  font-size: 40px;
}

/* Class for hiding the navbar on scroll down */
.navbar-hidden {
  transform: translateY(-100%); /* Move the navbar out of view */
}
