/* Navbar.css */
@import url('Fonts/Nohemi-Thin.css');

.navbar {
  background-color: --nav_color;
  font-family: 'NohemiThin', sans-serif;

  padding: 20px;
  padding-top: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;

}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}

.left-section img {
  width: 150px;
  margin-left: -120px;
  transition: filter 0.5s ease; /* Adjust the duration */
  filter: brightness(1);
}

.left-section img:hover {
  filter: brightness(0.5);
}


.title {
  margin-left: 80px;
}

.right-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin-right: 40px;
  display: flex;
}

.nav-link {
  font-weight: bold;
  text-decoration: none;
  color: var(--text_color);
  margin-left: 30px;
  font-size: 20px;
  font-family: 'NohemiThin';
}

.nav-links li {
  margin-right: 21px; /* Increase the margin between each list item */
}

.nav-links li:last-child {
  margin-right: -30px; /* Remove margin from the last list item */
}

.logbtn {
 font-size: 20px;
 font-family: 'NohemiThin';
  margin-top: -8px;
  background-color: transparent; /* Default background color */
  color: var(--text_color);
  border: none; /* Remove border */
  cursor: pointer; /*Change cursor to pointer on hover */
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s; /* Smooth transition for background color, text color, and box shadow */
}

.logbtn:hover {
  background-color: #26292b; /* Change background color to black on hover */
  color: rgb(243, 243, 243); /* Change text color to white on hover */
  box-shadow: 4 4px 4px rgba(0, 0, 0, 0.2); /* Stronger shadow when hovered over */
}

.title {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 105px;
  font-size: 80px;
  font-family: 'NohemiThin';
  
}


/* Class for hiding the navbar on scroll down */
.navbar-hidden {
  transform: translateY(-100%); /* Move the navbar out of view */
}
