
 .main {
    width: 100%;
    height: 100vh;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*You uncomment the code below here and our unlock your potential text lays on top of the vide */ 
    position: absolute; /* Change position to absolute */ /*Deleting this will take the text from off teh video */
    top: 50px; /* Adjust the value to match the height of your navbar */
    left: 0; 
  }