/* profile.css */

.profile-page-container {
  background-color: var(
    --body_background
  ); /* Background color for the entire profile page */
  color: var(--text_color); /* Text color for the content */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.profile-section{
  text-align: center;
}
.profile-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 20%;
  overflow: hidden;
  margin: 20px auto;
  border: 3px solid var(--border_color);
  background-color: var(--body_background);
}
.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.my-profile-message{
  text-align: center;
}

.profile-inputs {
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
input {
  background-color: rgb(255 255 255);
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  margin-right: 10px;
}
.input-group input {
  width: 80px;
  padding: 8px;
  font-size: 18px;
  border: 1px solid var(--border_color);
  border-radius: 5px;
}