.welcome-container { /* Use flexbox layout */
  text-align: center;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Center-aligns items horizontally */
}
.profile-circle {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 5%;
  overflow: hidden;
  margin-left: 20px; /* Adjust as needed */
  margin-bottom: 20px;

}
.text{
  font-size: 20px;
  padding-bottom: 20px;
  font-family: "Chakra Petch", sans-serif;
}
.input-container {
  display: flex; /* Use flexbox layout */
  margin-left: 30px; /* Add space between input and buttons */
}

.input-container input {
  display: flex;
  padding: 10px;
  font-size: 20px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  width: 300px;
}
.submit-button{
  position: flex;
  margin-top: 0px;
  width: 200px;
  padding: 10px 0px;
  font-size: 16px;
  background-color: #f7f4f4d4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



