.centered-container {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; /* Adjust as needed */
}

h2 {
  color: rgb(33, 36, 40);
}

.welcome-container {
  text-align: center;
}

.profile-circle {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px; /* Adjust as needed */
  margin-bottom: 20px;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Additional styling for the button if necessary */
button {
  margin-top: 20px; /* Adjust as needed */
  width: 150px;
}

.groupSelection h2{
  text-align: center;
  color: white;
}

.input-container {
  margin-top: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.input-container button.submit-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-group-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #303330;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-group-button:hover,
.input-container button.submit-button:hover {
  opacity: 0.8;
}
