:root {
  --body_background: #898989;
  --body_color: black;
  --link_color: rgb(2, 2, 6);
  --hover_color: #0d0e13;
  --text_color: rgb(0, 0, 0);
  --button_color: #8cabd3;
  --text_area_color: rgb(0, 0, 0);
  --border_color: #333;
}

[data-theme="dark"] {
  --body_background: #1b1a1a;
  --body_color: #000000;
  --link_color: #8806d4;
  --hover_color: #8806d4;
  --text_color: rgb(255, 255, 255);
  --button_color: #424549;
  --text_area_color: white;
  --border_color: #333;
}

/*EXP:  var(--body_background)*/
