:root {
  --body_background: #000000;
  --body_color: black;
  --link_color: rgb(2, 2, 6);
  --hover_color: #0d0e13;
  --text_color: #555555;
  --button_color: #5a6b82;
  --text_area_color: rgb(0, 0, 0);
  --border_color: #333;
}

[data-theme="dark"] {
  --body_background: #000000;
  --body_color: #20323d;
  --link_color: cyan;
  --hover_color: #7289da;
  --text_color: rgb(255, 255, 255);
  --button_color: #424549;
  --text_area_color: white;
  --border_color: #333;
}

/*EXP:  var(--body_background)*/
